 body { 
    background-color: #212529; 
    padding-top: 50px; 
    color: #f8f9fa;
}

.container { max-width: 800px; }
#resultadoArea { display: none; } 
.spinner-border { display: none; }

/* --- ESTILOS DA ÁREA DE UPLOAD --- */
.upload-area {
    border: 2px dashed #6c757d;
    border-radius: 10px;
    background-color: #2b3035;
    position: relative;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
    overflow: hidden;
}

.upload-area:hover, .upload-area.dragover {
    border-color: #0d6efd;
    background-color: #343a40;
}

/* O input cobre tudo com z-index 2 */
.file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 2; /* Fica por cima de tudo inicialmente */
}

.upload-text {
    color: #adb5bd;
    text-align: center;
}

/* Botão de Remover (z-index alto para garantir clique) */
.btn-remove-file {
    z-index: 10;
    position: relative;
}

/* Área de resposta */
#respostaSugerida {
    background-color: #2b3035;
    border: 1px solid #495057 !important;
    color: #e9ecef;
}

textarea {
    background-color: #2b3035 !important;
    color: #fff !important;
    border-color: #495057;
}